@import "tailwindcss";

@theme {
  --color-background: #111415;
  --color-surface: #1e2021;
  --color-surface-container: #1e2021;
  --color-surface-container-high: #282a2c;
  --color-primary: #45e17c;
  --color-on-primary: #003917;
  --color-on-surface: #e2e2e4;
  --color-on-surface-variant: #bbcbba;
}

@layer base {
  body { @apply bg-background text-on-surface font-sans; }
}